distribution/src/main/resources/xsd/passenger_stop_assignment.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="export">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="quays">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="quay" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="quaycode"/>
                                        <xs:element name="userstopcodes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="userstopcodedata" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="dataownercode"/>
                                                                <xs:element type="xs:string" name="userstopcode"/>
                                                                <xs:element type="xs:string" name="validfrom"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>